
* {
  box-sizing: border-box;
}


.landing-container {
  width: 98vw;
  height: 100vh;

  background-image: url("../../assets/Dashboard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 100px;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-right: 100px;
}

.landing-login-btn,
.landing-signin-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background: #a82424;
}

.hero-section {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
  display: flex;
  align-items: center;
}

.hero-text {
  max-width: 45%;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
}

.hero-text p {
  margin-top: 10px;
  font-size: 18px;
  color: #ccc;
}
