
body{
  margin-left: 200px;
  margin-right: 200px;
  background-color: #000000;
  color: white;
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.top-left {
  flex: 1;
}

.top-right {
  flex: 1;
  position: relative;
  height: 350px;   /* adjust as needed */
}

.top-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* makes image fill neatly */
  border-radius: 12px;
}

/* ORANGE BLUR AT THE BOTTOM */
.top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 138, 0, 0.9) 100%
  );
  filter: blur(20px);   /* smooth blur */
  border-radius: inherit;
}

/* Search Bar*/
.search-wrapper {
  position: relative;
  width: 100%;
}

.search-wrapper input {
  width: 100%;
  padding: 12px 15px 12px 45px;
  background: #fdf3e3; 
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  font-size: 15px;
  outline: none;
  box-shadow: 0 0 20px rgba(255, 138, 0, 0.6)
}

.icon-circle {
  position: absolute;
  /* left: 12px;
  top: 8px; */
  left: 12px;
  top: 50%;                      /* center vertically */
  transform: translateY(-50%);   /* perfect centering */

  width: 28px;
  height: 28px;
  background: #ececec; /* light gray */
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* keeps icon clipped inside circle */
}

.icon-circle img {
  width: 16px;    
  height: 16px;
  object-fit: contain;
}

  /*DROPDOWNS*/

.dropdown-line {
  display: flex;
  gap: 20px;              /* space between dropdowns */
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  margin-top: 20px;
  flex-wrap: nowrap;      /* forces them to stay in one line */
}

.dropdown {
  position: relative;
  width: 100px;
}

.dropdown-trigger {
  border: 1px solid #FFCC00;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
  background: #FF8A00;
  text-align: center;
}

.dropdown-options {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  border: 2px solid #FFCC00;
  border-radius: 6px;
  padding: 8px;
  margin-top: 4px;
  z-index: 10;
}

.dropdown.open .dropdown-options {
  display: block;
}

.dropdown-options label {
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 4px;
}
