<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="BrowsePage.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="logo.png" alt="">
        </div>
        <div class="mid-header">
            <a href="#">Home</a>
            <a href="#">Browse</a>
            <a href="#">Reviews</a>
        </div>
        <div class="left-header">
            <a href="#">Profile</a>
        </div>
    </div>
    <div class="browse-container">
        <div class="top">
            <div class="top-left">
                <div class="title">
                    Choose Your Favourites
                </div>
                <div class="subtitle"></div>
                    Scroll through the city's best flavours
                </div>
            </div>
            <div class="top-right">
                <img src="" alt="">
            </div>
        </div>
        <div class="search-bar">

        </div>
        <div class="search-wrapper">
            <input type="text" placeholder="Search restaurants...">
            <div class="icon-circle">
              <img src="search.png" alt="search icon">
            </div>
        </div>
              
    </div>
    
</body>
</html>