.restaurant-card {
    display: flex;
    background: linear-gradient(
      to right,
      #FFF7EC 0%,
      #FFE2C6 100%);
    width: 95%;
    border-radius: 16px 200px 200px 16px;
    padding: 20px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Left Image */
  .card-image img {
    width: 300px;
    height: 220px;
    object-fit: cover;
  }
  
  /* Middle Content */
  .card-content {
    flex: 1;
  }
  
  .card-content h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #444;
  }

  .card-content .line{
    font-size: 18px;
  }
  
  .res-location,
  .res-details,
  .res-price {
    margin: 4px 0;
    color: #555;
  }
  
  .menu-link {
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
    color: #FF8A00;
  }
  
  .location-status {
    display: flex;
    align-items: center;
    gap: 20px;     /* space between location & status icon */
  }
  
  .reviews {
    margin-top: 10px;
  }
  
  .review {
    line-height: 0.2;
    font-size: 14px;
    color: #444;
    margin-bottom: 4px;
  }
  
  .line {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 1.1;
  }
  
  /* Right: Rating + Heart */
  .card-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 50px;
}

/* Heart wrapper */
.saved-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-big {
    width: 200px;
    height: 200px;
}

/* Rating text on top of the heart */
.rating-on-heart {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 26px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);
}

/* Normal circle state */
.rating-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background: #FF8A00;
    color: white;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating{
  font-size: 26px;
}

.save-text {
    position: absolute;
    bottom: 20px;       /* pushes text below the circle */
    left: 50%;
    transform: translateX(-50%);

    font-size: 16px;
    font-weight: 500;
    color: #aaa;
}
