.stats-container {
  display: flex;
  gap: 20px;              /* space between boxes */
}

.stat-box {
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

