.stats-container {
  display: flex;
  gap: 20px; /* space between boxes */
  justify-content: center;
  flex-wrap: wrap; /* wrap on smaller screens */
  margin: 20px 0;
}

.stats-container .stat-box {
  background-color: #d46b03;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center; /* center contents */
  width: 180px; /* fixed width for uniformity */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.stats-container .stat-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(240, 237, 237, 0.18);

}

.stats-container .stat-number {
  font-size: 2.2rem; /* bigger number */
  font-weight: bold;   /* bold */
  margin: 0;
  color: #333;         /* dark color */
}

.stats-container .stat-label {
  font-size: 1rem;
  margin-top: 8px;
  color: #f6f2f2;
}
