
.compare-card {
  width: 100%;
  max-width: 420px;
  padding: 16px;
  border-radius: 10px;
  background: olive;
  border: 2px solid transparent;
  flex: 1 1 calc(50% - 15px); /* 50% width minus half gap */
}

.compare-card.active {
  border: 2px solid #1da1f2;
}

.compare-card:hover {
  border: 2px solid #1da1f2;
}

.compare-card .line {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  margin: 6px 0;
}

.compare-card .icon {
  width: 24px;
  height: 24px;
}

.rank {
  font-size: 18px;
  margin-bottom: 8px;
}
/* IMAGE CONTAINER */
.compare-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 12px;
}

.compare-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.rating {
  font-size: 16px;
  margin: 4px 0;
}

.open {
  color: #2ecc71;
  font-weight: bold;
}

/* FEATURES */
.compare-card ul {
  padding-left: 18px;
  font-size: 14px;
}

.compare-card li {
  margin-bottom: 4px;
}

/* BUTTON */
.visit-btn {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #e74c3c;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
