.reviews-page {
  width: 97%;
  min-height: 80vh;
  background: linear-gradient(180deg, #ff8600, #ff6a00);
  padding: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.reviews-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews-header h2 {
  margin: 0;
  font-size: 28px;
}

.reviews-header p {
  margin-top: 3px;
  opacity: 0.8;
}

/* Dropdown */
.dropdown-btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* Navigation buttons */
.nav-buttons {
  display: flex;
  gap: 10px;
  margin-right: 50%;
}

.circle-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

/* Review cards list */
.reviews-list {
  margin-top: 30px;
}

/* Individual review card */
.review-card {
  width: 50%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 12px;
  align-items: center;
}

/* Profile */
.review-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

/* Text */
.review-info h3 {
  margin: 0;
  font-size: 18px;
  color: white;
}

.review-info p {
  margin: 2px 0 0;
  font-size: 14px;
  opacity: 0.8;
}

/* Review buttons */
.review-actions {
  display: flex;
  gap: 12px;
}

.accept-btn,
.remove-btn {
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  color: white;
}

.accept-btn {
  background-color: #2d2e63;
}

.remove-btn {
  background-color: #1b1c38;
}
