/* MAIN CONTAINER */

body{
  margin-left: 200px;
  margin-right: 200px;
  background-color: #000000;
  color: white;
}

.create-container {
    display: flex;
    padding: 30px;
    gap: 30px;
  }
  
  /* LEFT SIDE */
.left-container {
    width: 35%;
    font-size: 40px;
    font-weight: bolder;
    color: #FFF7EC;
  }
  
  /* PHOTO UPLOAD BOX */
.photo-container {
    padding: 40px 0;
    font-size: 20px;
    font-weight: 500;
  }
  
.photo-box {
    padding: 16px 0;
    width: 300px;
    height: 250px;
    border: 2px solid #aaa;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFF7EC;
    color: #aaa;
    margin-top: 15px;
    font-size: 14px;
  }
  
.photo-box:hover {
    border-color: #333;
    color: #333;
  }
  
input[type="file"] {
    display: none;
  }
  
  /* RIGHT SIDE */
.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.right-container label {
    display: block;;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 20px;
  }
  
.right-container input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 16px;
    border: 2px solid #FFCC00;
    font-size: 15px;
  }

  .hours .hour-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hours input[type="time"] {
    padding: 8px;
    border-radius: 16px;
    border: 2px solid #FFCC00;
    font-size: 15px;
}

.right-container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 16px;
  border: 2px solid #FFCC00;
  font-size: 15px;
  resize: vertical; /* allows stretching only up/down */
}

textarea:focus{
  outline: none;
  border: 2px solid #FFCC00;
}

    /*DROPDOWNS*/
.dropdown {
    position: relative;
    width: 200px;
}
  
.dropdown-trigger {
    border: 1px solid #FFCC00;
    padding: 8px;
    border-radius: 16px;
    cursor: pointer;
    background: #FF8A00;
}
  
.dropdown-options {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    border: 2px solid #FFCC00;
    border-radius: 6px;
    padding: 8px;
    margin-top: 4px;
    z-index: 10;
}
  
.dropdown.open .dropdown-options {
    display: block;
}
  
.dropdown-options label {
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 4px;
}

    
    /*CHIPS*/
.chip-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
}

.chip {
    padding: 8px 14px;
    border: 1px solid #FFCC00;
    border-radius: 20px;
    cursor: pointer;
    background: #aaa;
    transition: 0.2s;
}

.chip:hover {
    background: #FFCC00;
}

.chip.selected {
    background: #FF8A00; /* same color for both moods & features */
    color: #fff;
    border-color: #FFCC00;
}

    
    /*SUBMIT BUTTON*/
.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e2301d;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}
  
.submit-btn:hover {
    background-color: #a91403;
}
  