/* Full page background with image */
.reset-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/reset.png"); /* same or different image */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Optional logo (same as login page) */
.reset-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: auto;
}

/* Center box (dark style like login) */
.reset-container {
  width: 450px;
  background: rgba(0, 0, 0, 0.85);
  padding: 40px 50px;
  border-radius: 10px;
  border: 1px solid #f7f4f4;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* Title */
.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

/* Labels */
.reset-container label {
  display: block;
  margin: 12px 0 5px;
  font-size: 15px;
  color: #ddd;
}

/* Input fields */
.reset-container input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  background: #dfdfdf;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 15px;
}

/* Reset button */
.reset-btn {
  width: 40%;
  padding: 12px;
  background: #752e2e;
  border: none;
  border-radius: 6px;
  margin: 15px auto 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  display: block;
}

.reset-btn:hover {
  background: #5d2424;
}

/* Back to login */
.back-login {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #ddd;
  cursor: pointer;
}

.back-login span {
  color: #ffffff;
  text-decoration: underline;
}
