/* Background */
.login-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/Login.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;     
  align-items: center;        
  position: relative;
  padding-top: 0;              
}


.login-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: auto;
}


.login-box {
  width: 400px;
  background: rgba(0, 0, 0, 0.85);
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #f7f4f4;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  height: auto;
  margin-top: 0;               
}


.login-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;
}


.login-label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}


.login-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #dfdfdf;
  margin-bottom: 20px;
  font-size: 15px;
}


.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: -5px;
  top: 35%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.85;
}

.eye-icon:hover {
  opacity: 1;
}


.login-btn {
  width: 40%;                 
  background: #752e2e;
  border: none;
  padding: 12px;
  color: white;
  font-size: 17px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
    margin: 15px auto 0 auto;   

    display: block;
}

.login-btn:hover {
  background: #5d2424;
}


.register-text {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

.register-text span {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
.forget {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
.forget span {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
